@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');

:root {
    --bg: #0f172a;
    --card-bg: #111827;
    --accent: #38bdf8;
    --text: #e5e7eb;
    --muted: #9ca3af;
    --border: rgba(255, 255, 255, 0.08);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", system-ui, sans-serif;
}

.new-rocker-regular {
    font-family: "New Rocker", system-ui;
    font-weight: 400;
    font-style: normal;
}

body {
    background: linear-gradient(135deg, #020617, #0f172a);
    color: var(--text);
    padding: 3rem;
}

h1 {
    /* text-align: center; */
    margin-bottom: 3rem;
    font-size: 2.5rem;
    letter-spacing: 1px;
}

a {
    color: var(--accent);
    text-decoration: none;
}